.center {
  text-align: center;
}

.h-primary {
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  z-index: 4;
  letter-spacing: 0.08rem;
  margin-bottom: 20px;
  padding: 15px;
}

.h-secondary {
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 0);
  z-index: 4;
  letter-spacing: 0.08rem;
  margin: 10px, 0px;
}

.sub {
  color: rgb(0, 0, 0);
  margin-top: 20px;
}

.box p {
  color: rgb(0, 0, 0);
  padding-bottom: 1rem;
  margin: 0%;
}

.fix a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  text-decoration-style: solid;
  text-align: center;
  margin: auto;
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.fix a:hover {
  color: rgb(26, 0, 227);
}
.contact {
  position: relative;
  min-height: 100vh;
  padding-top: 25px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin-top: 5.5vw;
  /* background: url(./cyber.jpg) no-repeat center center/cover; */
  background-color:#ebeeef;
}
.contact .content {
  max-width: 800px;
  text-align: center;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact .content p {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}
.containerBox {
  width: 66%;
  height: 110%;
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 0px;
  /* border: 2px solid rgb(0, 0, 0);*/
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 3px black;
}
.containerBox .contact-info {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.containerBox .contact-info .details {
  display: flex;
  margin-top: 58px;
  margin-bottom: 78px;
  justify-content: center;
}
.containerBox .contact-info .details h2 {
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.05rem;
  width: 60%;
  padding: 3px;
  font-weight: 10;
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.containerBox .contact-info .contact-item {
  position: relative;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}

.containerBox .contact-info .contact-item .text {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-weight: bold;
}
.containerBox .contact-info .contact-item .text .icon-bar {
  display: flex;
  align-items: center;
}
.containerBox .contact-info .contact-item .text .icon-bar .icon {
  background: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  box-shadow: 0px 0px 1px black;
}
.text p {
  margin-left: 60px;
  margin-bottom: 18px;
}
.contact-item .text h3 {
  font-size: 26px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.fa {
  /* display: inline-block; */
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-map-marker:before {
  content: "\f041";
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: rgb(0, 0, 0);
}
.fa-phone-square:before {
  content: "\f098";
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: rgb(0, 0, 0);
}
.fa-envelope:before {
  content: "\f0e0";
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: rgb(0, 0, 0);
}
.containerBox .contact-info .social ul {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.containerBox .contact-info .social ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0px 0px 3px black;
  margin: 10px;
}
.containerBox .contact-info .social ul li a {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
}
.fa-youtube:before {
  content: "\f167";
  font-size: 20px;
  padding: 10px;
  color: rgb(255, 0, 0);
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
  align-self: center;
  font-size: 20px;
  width: 40px;
  text-decoration: none;
  color: blue;
}
.fa-linkedin:before {
  content: "\f0e1";
  font-size: 20px;
  color: blue;
}
.contact-details {
  width: 80%;
  padding: 20px;
  margin: 40px;
  margin-right: 40px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.contact-form {
  width: 110%;
  margin-top: 30px;
  padding: 40px;
  border-radius: 15px;
  background-color:#ebeeef;
  box-shadow: 0px 0px 3px black;
}
.contact .content h2 {
  font-size: 2.5vmax;
  text-align: center;
  width: fit-content;
  padding: 0.8vmax 1.5vmax;
  font-weight: 10;
  border-radius: 30px;
  margin: 5px;
  letter-spacing: 0.05rem;
  cursor: pointer;
  /* border: 2px solid rgb(255, 255, 255); */
  /* color: rgb(0, 0, 0); */

  font-family: monospace;
  font-weight: 800;
  position: relative;
}

.contact-details h2 {
  font-size: 2vmax;
  text-align: center;
  letter-spacing: 0.05rem;
  width: fit-content;
  padding: 0.5vmax 1vmax;
  font-weight: 10;
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact .content h2::before {
  content: "";
  position: absolute;
  top: -2px;
  height: 5px;
  width: 0px;
  right: 0%;
  background-color: rgb(0, 0, 0);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  z-index: 10;
}

.contact .content h2::after {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 5px;
  width: 0px;
  left: 0%;
  background-color: rgb(0, 0, 0);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
.contact .content h2:hover:after {
  /* text-decoration: underline; */
  width: 100%;
}
.contact .content h2:hover:before {
  /* text-decoration: underline; */
  width: 100%;
}
.contact-form .inputBox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.contact-form .inputBox input,
textarea {
  width: 100%;
  height: 30px;
  font-size: 16px;
  margin: 10px, 0px;
  border: 20px;
  background-color: #ebeeef;
  border-bottom: 2px solid black;
  font-weight: 500;
  outline: none;
  resize: none;
}
.contact-form .inputBox textarea {
  position: relative;
  height: 100px;
}
.contact-form .inputBox label {
  position: relative;
  left: 0;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: bold;
  /* font-family: 'Calistoga', serif; */
}
.contact-form .inputBox input[type="submit"] {
  padding: 0rem, 0.6rem;
  /* border: 2px solid rgb(0, 0, 0); */
  border-radius: 10px;
  background-color: rgb(31, 57, 255);
  color: rgb(255, 255, 255);
  margin: 20px;
  font-size: 1.2em;
  letter-spacing: 0.03em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  align-self: center;
  width: 38%;
  height: 50px;
  cursor: pointer;
  justify-self: center;
  box-shadow: none;
}
.contact-form .inputBox input[type="submit"]:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
@media (max-width: 1368) {
  .contact-form .inputBox input[type="submit"] {
    font-size: 0.1em;
    width: 60%;
  }
}
@media (max-width: 874px) {
  .containerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-details {
    width: 87%;
    margin-left: 40px;
    margin-right: 40px;
    align-self: center;
    justify-content: center;
    justify-self: center;
  }
}

.OrderBtn {
  width: fit-content !important;
  padding: 0 1vw !important;
}